body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#div {
    height: 100%;
}

.info_table{
    width: 50%; 
    height: 30%;
    table-layout:fixed
}

.hp_border {
    width: 100%;
    height: 10px;
    background: #fff;
    border: 1px solid black;
}

.hp_color {
    width: 100%;
    height: 10px;
    background: red;
}

#game {
    background-image: url("../images/grass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 60%;
}

.hole {
    width: 100px;
    height: 100px;
    cursor: url('../images/fist.png') 45 45, auto;
    position: relative;
    overflow: hidden;
    border: 1px outset white;
}

.hole:active {
    cursor: url('../images/punch.png') 45 45, auto;
}

.red {
    background-image: "";
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: appear 1.5s ease;
    -webkit-animation: appear 1.5s ease;
    animation-iteration-count: 1;
}

.head {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    transform: translateY(50%);
}

.player_td {
    height: 100px;
    width: 100px;
    padding: 0;
    background-image: url("../images/player0.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: bottom;
}

.zoombie_td {
    height: 100px;
    width: 100px;
    padding: 0;
    background-image: url("../images/zombie1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: bottom;
}

.blue {
    background-image: "";
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: saturate(7);
    animation: appear 1.5s ease;
    -webkit-animation: appear 1.5s ease;
    animation-iteration-count: 1;
}

@keyframes appear {
    0% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(50%);
    }
}
@-webkit-keyframes appear {
    0% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(50%);
    }
} 

#zoombie_ko {
    width: 80%;
    opacity: 0;
}

#player_ko {
    width: 80%;
    opacity: 0;
}
#iframe{
    width: 100%;
    height: 100%;
}