.circle {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}
.circle img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle:hover{
    transform: scale(1.1);
}
#next {
    width: 20%;
    animation: ani 2.5s infinite;
}
@keyframes ani {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}